<ion-header>
    <ion-toolbar>
        <ion-title>Video Player</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main_content_div">
        <div class="video_div">
            <video width="100%" height="240" controls poster="assets/imgs/news/news1.jpg">
                <source src="assets/imgs/news/video.mp4" type="video/mp4">
            </video>
        </div>

        <div class="content_div">
          <div class="flex_div">
            <div class="back_image bg_image" [style.backgroundImage]="'url(assets/imgs/news/news1.jpg)'"></div>
            <div class="content_div">
              <ion-label class="title_lbl">Test Video</ion-label>
              <ion-label class="light_lbl">English • Comedy</ion-label>
              <ion-label class="light_lbl">2010</ion-label>
            </div>
          </div>
    
          <ion-label class="detail_lbl">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          </ion-label>
          <ion-label class="see_more">See More</ion-label>
    
          <ion-label class="gray_lbl">Lorem Ipsum is simply dummy text of the printing and typesetting</ion-label>
    
          <ion-grid fixed>
            <ion-row>
              <ion-col size="4">
                <ion-button expand="block" size="small">
                  <ion-icon slot="start" name="arrow-down-sharp"></ion-icon>
                  Download
                </ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button expand="block" size="small">
                  <ion-icon slot="start" name="add-sharp"></ion-icon>
                  Watchlist
                </ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button expand="block" size="small">
                  <ion-icon slot="start" name="arrow-redo-sharp"></ion-icon>
                  Share
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
    
          <ion-label class="head_lbl">Trailers</ion-label>
    
          <div class="flex_div2">
            <div class="back_image4 bg_image" [style.backgroundImage]="'url(assets/imgs/news/news3.jpg)'"></div>
            <div class="play_div">
              <ion-icon name="caret-forward-outline" class="play"></ion-icon>
              <ion-label class="name">Watch Trailer</ion-label>
            </div>
          </div>
    
          <ion-label class="head_lbl" (click)="goTovideoList('You may also like')">You may also like 
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-label>
          <ion-slides mode="ios" [options]="slideOpts">
            <ion-slide *ngFor="let item of images">
              <div class="back_image2 bg_image" [style.backgroundImage]="'url('+item.img+')'"></div>
            </ion-slide>
          </ion-slides>
    
        </div>
    </div>
</ion-content>
