<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <ion-grid fixed *ngFor="let iten of [1,2]">
      <ion-row>
        <ion-col size="6" *ngFor="let item of sports">
          <div class="flex_div">
            <div class="back_image4 bg_image" [style.backgroundImage]="'url('+item.img+')'"></div>
            <ion-label class="live2">9 min</ion-label>
            <div class="play_div">
              <ion-icon name="caret-forward-outline" class="play"></ion-icon>
              <ion-label class="name">{{item.name}}</ion-label>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
