.main_content_div {
    padding: 20px;

    ion-label {
        display: block;
    }

    ion-input {
        border-bottom: 1px solid #1f80e0;
        margin-top: 30px;
    }

    ion-button {
        --border-radius: 3px !important;
        margin-top: 30px;
        margin-bottom: 20px;
        --background: #1f80e0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
    }

    .or_lbl {
        text-align: center;
        font-family: 'medium';
    }
}