<ion-header>
    <div class="header_div">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <img src="assets/imgs/logo4.svg">
        <ion-button class="search_btn" slot="end" fill="clear" size="small">
            <ion-icon slot="icon-only" name="search-outline" color="light"></ion-icon>
        </ion-button>
    </div>
</ion-header>

<ion-content>
    <div class="main_content_div">
        <ion-slides mode="ios">
            <ion-slide *ngFor="let item of mainSlider; let i = index">
                <div class="back_image bg_image" [style.backgroundImage]="'url('+item+')'">
                    <ion-label>{{i+1}}/{{mainSlider?.length}}</ion-label>
                </div>
            </ion-slide>
        </ion-slides>

        <ion-label class="head_lbl" (click)="goToCatogory('Popular Sports')">Popular Sports <ion-icon name="chevron-forward-outline"></ion-icon></ion-label>
        <ion-slides mode="ios" [options]="slideOpts3">
            <ion-slide *ngFor="let item of sports" (click)="goToSportsDetail(item.s_name)">
                <div class="back_image1 bg_image" [style.backgroundImage]="'url('+item.img+')'">
                    <ion-label class="bold_lbl">{{item.s_name}}</ion-label>
                </div>
            </ion-slide>
        </ion-slides>

        <ion-label class="head_lbl" (click)="goTovideoList('Best of India')">Best of India <ion-icon name="chevron-forward-outline"></ion-icon></ion-label>
        <ion-slides mode="ios" [options]="slideOpts3">
            <ion-slide *ngFor="let item of (sports | slice : 0: 5)" (click)="goToVideo()">
                <div class="back_image2 bg_image" [style.backgroundImage]="'url('+item.img+')'">
                    <ion-label class="live">9 min</ion-label>
                    <div class="play_div">
                        <ion-icon name="caret-forward-outline" class="play"></ion-icon>
                        <ion-label class="name">{{item.name}}</ion-label>
                    </div>
                </div>
            </ion-slide>
        </ion-slides>

        <ion-label class="head_lbl" (click)="goTovideoList('IPL Superstar : MS Dhoni')">IPL Superstar : MS Dhoni <ion-icon name="chevron-forward-outline"></ion-icon></ion-label>
        <ion-slides mode="ios" [options]="slideOpts3">
            <ion-slide *ngFor="let item of (sports | slice : 4: 8)" (click)="goToVideo()">
                <div class="back_image2 bg_image" [style.backgroundImage]="'url('+item.img+')'">
                    <ion-label class="live">9 min</ion-label>
                    <div class="play_div">
                        <ion-icon name="caret-forward-outline" class="play"></ion-icon>
                        <ion-label class="name">{{item.name}}</ion-label>
                    </div>
                </div>
            </ion-slide>
        </ion-slides>

        <ion-label class="head_lbl" (click)="goTovideoList('Best of CSK')">Best of CSK <ion-icon name="chevron-forward-outline"></ion-icon></ion-label>
        <ion-slides mode="ios" [options]="slideOpts3">
            <ion-slide *ngFor="let item of (sports | slice : 0: 5)" (click)="goToVideo()">
                <div class="back_image2 bg_image" [style.backgroundImage]="'url('+item.img+')'">
                    <ion-label class="live">9 min</ion-label>
                    <div class="play_div">
                        <ion-icon name="caret-forward-outline" class="play"></ion-icon>
                        <ion-label class="name">{{item.name}}</ion-label>
                    </div>
                </div>
            </ion-slide>
        </ion-slides>

        <ion-label class="head_lbl" (click)="goTovideoList('Best of MI')">Best of MI <ion-icon name="chevron-forward-outline"></ion-icon></ion-label>
        <ion-slides mode="ios" [options]="slideOpts3">
            <ion-slide *ngFor="let item of (sports | slice : 4: 8)" (click)="goToVideo()">
                <div class="back_image2 bg_image" [style.backgroundImage]="'url('+item.img+')'">
                    <ion-label class="live">9 min</ion-label>
                    <div class="play_div">
                        <ion-icon name="caret-forward-outline" class="play"></ion-icon>
                        <ion-label class="name">{{item.name}}</ion-label>
                    </div>
                </div>
            </ion-slide>
        </ion-slides>

        <ion-label class="head_lbl" (click)="goTovideoList('Best of Badminton')">Best of Badminton <ion-icon name="chevron-forward-outline"></ion-icon></ion-label>
        <ion-slides mode="ios" [options]="slideOpts3">
            <ion-slide *ngFor="let item of (sports | slice : 3: 7)" (click)="goToVideo()">
                <div class="back_image2 bg_image" [style.backgroundImage]="'url('+item.img+')'">
                    <ion-label class="live">9 min</ion-label>
                    <div class="play_div">
                        <ion-icon name="caret-forward-outline" class="play"></ion-icon>
                        <ion-label class="name">{{item.name}}</ion-label>
                    </div>
                </div>
            </ion-slide>
        </ion-slides>

    </div>
</ion-content>
