<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4" *ngFor="let item of images">
          <div class="back_image2 bg_image" [style.backgroundImage]="'url('+item.img+')'"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
